body {
    background-color: #f8f9fa;
}
.product-images img {
    width: 100%;
    height: auto;
    cursor: pointer; /* Change cursor to pointer for clickable images */
    border: 1px solid #ddd;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}
.product-images img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.thumbnail-image-container {
    max-height: 500px; /* Set a fixed height for the scrollable container */
    overflow-y: auto;  /* Enable vertical scrolling */

    /* For Firefox */
    scrollbar-width: thin; /* Set scrollbar width to thin */
    scrollbar-color: #888 #f1f1f1; /* Thumb and track colors */
}

/* Webkit browsers (Chrome, Safari) */
.thumbnail-image-container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 0; /* Set height to zero to hide scroll buttons */
}

.thumbnail-image-container::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded edges */
}

.thumbnail-image-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded edges for the thumb */
}

.thumbnail-image-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color on hover */
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 10px;
}
.main-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    cursor: pointer; /* Make the main image clickable */
}
.hero-section {
    background-color: #333;
    color: white;
    padding: 4rem 0;
    text-align: center;
}
.product-display {
    display: flex;
    gap: 1rem;
}

.product-card {
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border: none;
    transition: transform 0.3s ease;
    transform: scale(1.01);
}

.product-card::before {
    content: "";
    display: block;
    padding-top: 75%; /* Aspect ratio: height will be 75% of width */
}

.product-card h5.product-card-title {
    /* font-size: 1.5rem; */
    /* padding: 10px; */
    /* border-radius: 5px; */
    z-index: 2; /* Ensure text is on top */
    margin: 0;
    /* line-height: 1; */
    position: absolute; /* Position the text to avoid being affected by padding-top */
}

.product-card:hover {
    /* transform: scale(1.02); */
    background-color: rgba(0, 0, 0, 0.4);
}
